html, body, #app, #page {
  height: 97%;
  background: #666666;
}

#app {
  width: 45%;
  float: left;
}

#page {
  width: 54%;
  float: right;
  background: white;
}

.editor-pane {
  font-family: Monaco, monospace;
  background: #484848;
  margin: 0;
  font-size: 14px;
  border: 1px solid #aaa;
  color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  overflow: auto;
  border-radius: 1px;
  padding: 10px 10px 10px;
  height: calc(100% - 29px);
  white-space: pre-wrap;
  outline: 0;
}

.comment {
  color: #857F6B;
  font-style: italic;
}

.attr-value {
  color: #add8e6;
}

.semi-colon {
  color: #b35c1d;
}

.selector {
  color: #ffd541;
}

.html-syntax-tag {
  color: #ffd541;
}

.html-syntax-attr-name {
  color: #add8e6;
}

.html-syntax-attr-value {
  color: #00AA00;
}